/* ========================= Global ========================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: great vibes;
  src: url(/fonts/greatVibes/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: playfair regular;
  src: url(/fonts/playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: playfair medium;
  src: url(/fonts/playfair/PlayfairDisplay-Medium.ttf);
}

body {
  font-family: playfair regular;
}

a {
    text-decoration: none;
}

/* ======================== Navigation ========================= */

nav {
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.603);
}

.navContainer {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
}

.navLinks {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.navLinks a {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: playfair medium;
    padding: 1rem;
}

.navLinks a:hover {
    color: rgb(0, 76, 255);
}

.logo {
  flex-grow: 2;
  cursor: pointer;
}   

.logo h3 {
  font-family: great vibes;
  font-size: 2rem;
}

/* ========================= Header ===================== */

#headerSection {
    height: 90vh;
}

.headerContainer {
    display: flex;
    background: black;
}

.headerLeft {
    flex-grow: 1;
    background-color: red;
}

.headerRight {
    flex-grow: 1;
    background-color: blue;
}

p {
    display: inline-block;
}

.elenaJoyImg {
    height: 1rem;
}